* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, 'Inter', 'Courier New', Courier, monospace;
}

body {
    background-color: #F0EAEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #F0EAEF;
    gap: 20px;
}

/* From Uiverse.io by Yaya12085 */
.radio-inputs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    min-width: 300px;
    font-size: 14px;
    gap: 1rem;
}

.radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked+.name {
    background-color: #fff;
    font-weight: 600;
}

/* From Uiverse.io by Yaya12085 */
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
    border-radius: calc(40px/2);
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    background-color: #EEE;
}

/* plus sign */
.sign {
    width: 100%;
    font-size: 2.2em;
    color: rgba(51, 65, 85, 1);
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.task>.sign {
    font-size: 1.5em;
    padding-bottom: 3px;
}

/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: rgba(51, 65, 85, 1);
    font-size: 16px;
    font-weight: 600;
    transition-duration: .3s;
}

.task>.text {
    font-size: 14px;
    font-weight: 500;
}

/* hover effect on button width */
.Btn:hover {
    width: 125px;
    transition-duration: .3s;
}

.task.Btn:hover {
    width: 100px;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 10px;
    padding-bottom: 5px;
}

.task.Btn:hover .sign {
    padding-bottom: 3px;
}

/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 5px;
}

/* button click effect*/
.Btn:active {
    transform: scale(0.95);
}

/* From Uiverse.io by ammarsaa */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    width: 100vw;
    height: 100vh;

    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    max-height: fit-content;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    background-color: #EEE;
    color: rgba(51, 65, 85, 1);
    border: 0.5px solid #4d4d4d;
}

.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    color: rgba(51, 65, 85, 1);
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form label .input+span {
    color: rgba(51, 65, 85, 1);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 12.5px;
    font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
    color: rgba(51, 65, 85, 1);
    top: 7px;
    font-size: 0.7em;
    font-weight: 600;
}

.input {
    font-size: medium;
}

.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: rgb(89, 89, 89);
}

.submit:hover {
    background-color: rgb(75, 75, 75);
}

.hidden {
    opacity: 0;
    transform: scale(1.1);
    pointer-events: none;
}

.priority {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.priority label {
    flex: 1 1 auto;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.priority input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.priority input[type="radio"]:checked+span {
    box-shadow: 0 0 0 0.0625em #83899a;
    background-color: #dee7ff;
    z-index: 1;
    color: #83899a;
}

.priority label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
    transition: background-color .5s ease;
}

.priority label:first-child span {
    border-radius: .375em 0 0 .375em;
}

.priority label:last-child span {
    border-radius: 0 .375em .375em 0;
}

/* From Uiverse.io by javierBarroso */
.close-form {
    position: relative;
    width: 2em;
    height: 2em;
    border: none;
    background: rgba(180, 83, 107, 0.11);
    border-radius: 10px;
    transition: background 0.5s;
}

.X {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%) rotate(45deg);
}

.Y {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1.5px;
    background-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
}

.close-form:hover {
    background-color: rgb(211, 21, 21);
}

.close-form:active {
    background-color: rgb(130, 0, 0);
}

.form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}