/* From Uiverse.io by ammarsaa */
.overlay, .overlay_2 {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    width: 100vw;
    height: 100vh;

    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.form , .form2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    max-height: fit-content;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    background-color: #EEE;
    color: rgba(51, 65, 85, 1);
    border: 0.5px solid #4d4d4d;
}

.title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label, .form2 label {
    position: relative;
}

.form label .input, .form select, .form2 label .input, .form2 select {
    color: rgba(51, 65, 85, 1);
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

#project {
    padding: 10px 05px;
    font-size: 16px;
}

.form label .input+span, .form2 label .input+span {
    color: rgba(51, 65, 85, 1);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span, .form2 label .input:placeholder-shown+span {
    top: 12.5px;
    font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span, .form2 label .input:focus+span,
.form2 label .input:valid+span {
    color: rgba(51, 65, 85, 1);
    top: 7px;
    font-size: 0.7em;
    font-weight: 600;
}

.input {
    font-size: medium;
}

.submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: rgb(89, 89, 89);
}

.submit:hover {
    background-color: rgb(75, 75, 75);
}

.hidden {
    opacity: 0;
    transform: scale(1.1);
    pointer-events: none;
}

.priority {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.priority label {
    flex: 1 1 auto;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.priority input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.priority input[type="radio"]:checked+span {
    box-shadow: 0 0 0 0.0625em #83899a;
    background-color: #dee7ff;
    z-index: 1;
    color: #83899a;
}

.priority label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: #3e4963;
    text-align: center;
    transition: background-color .5s ease;
}

.priority label:first-child span {
    border-radius: .375em 0 0 .375em;
}

.priority label:last-child span {
    border-radius: 0 .375em .375em 0;
}

/* From Uiverse.io by javierBarroso */
.close-form, .close-form2 {
    position: relative;
    width: 2em;
    height: 2em;
    border: none;
    background: rgba(180, 83, 107, 0.11);
    border-radius: 10px;
    transition: background 0.5s;
}

.X {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%) rotate(45deg);
}

.Y {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1.5px;
    background-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
}

.close-form:hover, .close-form2:hover {
    background-color: rgb(211, 21, 21);
}

.close-form:active, .close-form2:active {
    background-color: rgb(130, 0, 0);
}

.form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}